header.cover {
  min-height: 200px !important;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

header.cover .pv4,
header.cover .pv6-l {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
} 